<header class="page-header page-header-dark bg-gradient-primary-to-secondary">
  <div class="container-xl px-4">
    <div class="page-header-content pt-4">
      <div class="row align-items-center justify-content-between">
        <div class="col-auto mt-4">
          <h1 class="page-header-title">
            <div class="page-header-icon"><i class="fa-solid fa-book"></i></div>
            <%= @notebook.title %>
          </h1>
          <div class="page-header-subtitle">Updated <%= time_ago_in_words(@notebook.updated_at) %> ago</div>
        </div>
        <div class="col-auto">
          <%= link_to 'Edit', edit_notebook_path(@notebook), class: 'btn btn-outline-light' %>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container py-3">
  <h5 class='d-flex justify-content-between'>
    <span>Pages</span>
    <%= link_to 'New Page', new_notebook_page_path(@notebook), class: 'btn btn-primary' %>
  </h5>
  <% @notebook.pages.each do |page| %>
    <div class="card card-header-actions mx-auto mb-2">
      <div class="card-header">
        <div>
          Page <%= page.position %>: <%= link_to page.title, notebook_page_path(@notebook, page) %>
        </div>
        <div>
          <%= link_to notebook_page_path(@notebook, page), class:"btn btn-teal btn-icon mr-2"  do %>
            <i class="fa-solid fa-eye"></i>
          <% end %>
          <%= link_to edit_notebook_page_path(@notebook, page), class:"btn btn-blue btn-icon"  do %>
            <i class="fa-solid fa-pen"></i>
          <% end %>
          <%= link_to notebook_page_path(@notebook, page), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-pink btn-icon mr-2"  do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-around">
          <div>
            <i class='fas fa-paragraph me-1'></i> <%= page.paragraphs.count %> paragraphs
          </div>
          <div>
            <i class='fas fa-image me-1'></i> <%= page.image_elements.count %> images
          </div>
          <div>
            <i class='fas fa-list me-1'></i> <%= page.checklists.count %> todo lists
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
