<div class="container-xl px-4">
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <!-- Basic login form-->
      <div class="card shadow-lg border-0 rounded-lg mt-5">
        <div class="card-header justify-content-center">
          <h3 class="fw-light my-4">Login</h3>
        </div>
        <div class="card-body">
          <!-- Login form-->
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <!-- Form Group (email address)-->
            <div class="mb-3">
              <%= f.label :email, class: "small mb-1"  %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Enter email address" %>
            </div>
            <!-- Form Group (password)-->
            <div class="mb-3">
              <%= f.label :password, class:"small mb-1" %><br />
              <%= f.password_field :password, autocomplete: "current-password", class:"form-control", placeholder:"Enter password" %>
            </div>
            <!-- Form Group (remember password checkbox)-->
            <div class="mb-3">
              <div class="form-check">
                <% if devise_mapping.rememberable? %>
                  <div class="field">
                    <%= f.check_box :remember_me, class:"form-check-input" %>
                    <%= f.label :remember_me, class:"form-check-label" %>
                  </div>
                <% end %>
              </div>
            </div>
            <!-- Form Group (login box)-->
            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
              <%= f.submit "Log in", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
        <div class="card-footer text-center">
          <div class="small"><a href="auth-register-basic.html">Need an account? Sign up!</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
